/*.cabecalhoPrincipal-titulo, .cabecalhoPrincipal-nav {*/

/*    !*alinhar ao lado *!*/
/*    display: inline-block;*/

/*    !*alinha verticalmente o centro*!*/
/*    vertical-align: middle;*/
/*    */
/*    !*alinha a direita*!*/
/*    margin-left: 600px;*/
/*}*/

/*no pai do objjeto definimos o flex*/
/*selecionar o container que está dentro do cabeçalo principal*/
.cabecalhoPrincipal .container {

    /*deixa o objeto um ao lado do outro*/
    display: flex;

    /*aalinhar os elementos ao centro do objeto*/
    align-items: center;

    /*pegar todo espaço restante e deixar entre os elementos*/
    justify-content: space-between;
}

.cabecalhoPrincipal-nav {
    display: flex;
}

.rodapePrincipal-patrocinadores .container {
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
}

.rodapePrincipal-navMap-list {
    display: flex;
    /*muda completamente o fluxo a direção do flex*/
    /*flex-direction: column;*/
    /*quando não couber mais no elemento*/
    /*flex-wrap: wrap;*/
    /*ou podemos fazer o mesmo que os dois comandos acima desta form*/
    flex-flow: column wrap;

    height: 255px;
}

.conteudoPrincipal-cursos {
    display: flex;
    flex-flow: row wrap;
}

.conteudoPrincipal-cursos-link {
    width: 23%;
}

.conteudoPrincipal-cursos-link:nth-child(4n) {
    margin-right: 0;

}

.conteudoPrincipal-cursos-link:nth-child(4n+1) {
    margin-left: 0;

}

.videoSobre .container{
    display: flex;
}

.videoSobre-sobre {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

}

.videoSobre-sobre-list {
    flex-grow: 1;
}

.videoSobre-video {
    flex-grow: 2;
}

/*LAYOUT MOBILY*/
@media (max-width: 768px ) {

    .cabecalhoPrincipal-nav {
        flex-direction: column;
    }

    .cabecalhoPrincipal .container {
        flex-direction: column;
        align-items: initial;
        text-align: center;
    }

    .conteudoPrincipal-cursos {
        flex-direction: column;
    }

    .conteudoPrincipal-cursos-link {
        width: 100%;
    }

    .rodapePrincipal-navMap-list {
        height: auto;
    }

    .rodapePrincipal-patrocinadores .container {
        flex-direction: column;
        align-items: center;
    }

    .rodapePrincipal-patrocinadores-list {
        margin: 0;
        width: 100%;
    }
    .cabecalhoPrincipal-nav-link-app {
        /*alterar a order do elemento*/
        order: -1;
    }

    .videoSobre-sobre{
       flex-direction: column;

    }

    .videoSobre-video {
        flex-shrink: 2;
        margin: 0 auto;
    }
}
